@charset "ISO-8859-1";

body{
	margin: 0;
	color: #1E6A26;
	font-family: verdana;
	}

.error {
	color: red;
}

.headerContainer {
	background: #1E6A26;
	width:100%;
}

.header {
	background: #1E6A26;
	margin: 0px;
	padding: 30px;
	color: #CCE3CE;
	padding-left: 50px;
	}

.sidenav {
  overflow: hidden;
  background-color: #1E6A26;
  width: 100%;
  padding-left: 50px;
}

.sidenav div {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #CCE3CE;
}

.sidenav a {
	font-weight: bold;
	color: #CCE3CE;
	}

.sidenav a:hover {
  color: #E7E8E7;
}

.subnav {
	background-color: #1E6A26;
	width:100%;
	padding-top:10px;
	padding-bottom:10px;
	display:inline-block;
}

.links {
	margin-left:auto;
	margin-right:auto;
	width:95%;
}

.links a {
	font-weight: bold;
	color: #CCE3CE;
	padding:5px;
	font-size:10pt;
	}
	
.links a:hover {
  color: #9FE9A6;
}

.sub {
	font-style: italic;
	font-size: 10pt;
	margin-top: 0px;
	padding: 0px;
}


.logout {
	width:15%;
	padding:0px;
	position:absolute;
    top:20px;
    right:10px;
  	display: inline-block;
  	color:#D0D3D4;
}


.wrongth th {
	font-weight: normal;
	}

.content {
	margin: auto;
    width: 60%;
    margin-top: 50px;
    margin-bottom: 50px;
  	background-color: #E7E8E7;
    border-radius: 12px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    overflow: hidden;
    padding: 20px;
    position: relative;
}

.content_search {
	margin: auto;
	width: 90%;
	margin-top: 50px;
	margin-bottom: 50px;
  	background-color: #E7E8E7;
    border-radius: 12px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    overflow: hidden;
    padding: 20px;
    position: relative;
}

.display-none {
	display: none;
}

.display {
	display: inline;
	}

.viewcontracts th{
	width: 15%;
	}

.viewcontracts td{
	padding-bottom: 15px;
	}

.viewdetails th{
	width: 15%;
	border: none;
	}

table{
	width: 100%;
	}
	
input, select, textarea, tr, th {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

h1{
  color: #41D04F;
  font-size: 200%;
}


.footerContainer {
	background: #1E6A26;
	width:100%;
}

footer {
	background: #1E6A26;
	margin: 0px;
	padding: 30px;
	color: #1380A1;
	padding-left: 50px;
	}
	
footer a:hover {
  color: #F2F2F2;
}

footer a {
	color: #CCE3CE;
	display: block;
	}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	display:none;
	padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  margin-top: 10px;
}

.vdbutton button {
  background-color: #bfbfbf; 
  border: 1px solid grey; 
  color: black;
  padding: 10px 24px; 
  cursor: pointer; 
  float: left; 
}

.vdbutton button:not(:last-child) {
  border-right: none; 
}

.vdbutton:after {
  content: "";
  clear: both;
  display: table;
}

.vdbutton button:hover {
  background-color:  #808080;
}

/* Style the alert messages */
.alertMessage {
	color: black;
	text-align:center;
	font-style:italic;
	background-color:#4CAF50;
	width:100%;
	padding:1px;
	margin-bottom:10px;
}

img.logo{
	border-radius: 50%;
	float: left;
    margin-right: 20px;
}

h1.header{
	display: inline-block;
}
