@charset "ISO-8859-1";

body{
	margin: 0;
	color: #122848;
	font-family: verdana;
	}


.headerContainer {
	background: #122848;
	width:100%;
}

.header {
	background: #122848;
	margin: 0px;
	padding: 30px;
	color: #1380A1;
	padding-left: 50px;
	}

.sidenav {
  overflow: hidden;
  background-color: #122848;
  width: 100%;
  padding-left: 50px;
}

.sidenav div {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #1380A1;
}

.sidenav a {
	font-weight: bold;
	color: #1380A1;
	}

.sidenav a:hover {
  color: #F2F2F2;
}

.subnav {
	background-color: #122848;
	width:100%;
	padding-top:10px;
	padding-bottom:10px;
	display:inline-block;
}

.links {
	margin-left:auto;
	margin-right:auto;
	width:95%;
}

.links a {
	font-weight: bold;
	color: #1380A1;
	padding:5px;
	font-size:10pt;
	}

.sub {
	font-style: italic;
	font-size: 10pt;
	margin-top: 0px;
	padding: 0px;
}


.logout {
	width:15%;
	padding:0px;
	position:absolute;
    top:20px;
    right:10px;
  	display: inline-block;
  	color:#D0D3D4;
}


.wrongth th {
	font-weight: normal;
	}

.content {
	margin: auto;
    width: 60%;
    margin-top: 50px;
  	background-color: #f2f2f2;
    border-radius: 12px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    overflow: hidden;
    padding: 20px;
    position: relative;
}

.content_search {
	margin: auto;
	width: 90%;
	margin-top: 50px;
  	background-color: #f2f2f2;
    border-radius: 12px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    overflow: hidden;
    padding: 20px;
    position: relative;
}

.display-none {
	display: none;
}

.display {
	display: inline;
	}

.viewcontracts th{
	width: 15%;
	}

.viewcontracts td{
	padding-bottom: 15px;
	}

.viewdetails th{
	width: 15%;
	border: none;
	}

table{
	width: 100%;
	}
	
input, select, textarea, tr, th {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

h1{
  color: #1380A1;
  font-size: 200%;
