<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Add Contract</title>
<link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
	<div class="headerContainer">
	<div class="header">
	<h1>Contract Management</h1>
	</div>
	<div class="logout">
    	<div sec:authorize="isAuthenticated()">Welcome, <span sec:authentication="name"></span></div>
        <form th:action="@{/logout}" method="post"> 
            <input type="submit" value="Logout"/> 
        </form>
    	</div>
    	</div>
	<div class="sidenav">
		<div>
 		<a href="/">Home</a>
 		</div>
 		<div>
 		<a>New Contract</a></li>
 		<p class="sub">Create a new contract</p>
 		</div>
 		<div>
 		<a href="/search_contracts">Search Contracts</a></li>
 		<p class="sub">Search for a contract</p>
 		</div>
 		<div>
 		<a href="/archive_contracts">Archived Contracts</a></li>
 		<p class="sub">View Archived Contracts</p>
 		</div>
 		<div>
 		<a href="/my_contracts">My Contracts</a></li>
 		<p class="sub">View your assigned contracts</p>
 		</div>
 		<div>
 			<a href="/create_account">Create Account</a></li>
 			<p class="sub">Create a new account</p>
 		</div>
	</div>
	
	<div class="content">
	<h2>Add Contracts</h2>
	<h3>Select Contract Type: </h3>    
    	<select id="dropdown" onchange="changeStatus()">
		    <option value="-1">Select Contract Type</option>
		    <option value="in_negotiation">In Negotiation</option>
		    <option value="operative">Operative</option>
		    <option value="expired">Expired</option>
		</select>
    <p><br></p>
    <form action="#" th:action="@{/api/contracts}" th:object="${contract}" method="post" id="addContract">
    <table>
    <tr>
        <td>User: <select id="userid" name="userid">
    	<option value="">Select a user</option>
    	<option th:each="user : ${users}"
    	th:value="${user.userid}"
    	th:utext="${user.username}"/>
    	</select></td>
   	</tr>
   	<tr>
    	<td>Agreement Title: <input type="text"  th:field="*{agreement_title}"/></td>
    	<td th:if="${#fields.hasErrors('agreement_title')}" th:errors="*{agreement_title}">Title Error</td>
    </tr>
    <tr>
    	<td>Agreement Type: <input type="text"  th:field="*{agreement_type}" /></td>
    	<td th:if="${#fields.hasErrors('agreement_type')}" th:errors="*{agreement_type}">Type Error</td>
    </tr>
    <tr>
    	<td>Description: <input type="text"  th:field="*{description}" /></td>
    	<td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</td>
    </tr>
    <tr>
        <td>Agreement Location: <input type="text"  th:field="*{agreement_location}" /></td>
        <td th:if="${#fields.hasErrors('agreement_location')}" th:errors="*{agreement_location}">Location Error</td>
    </tr>
    <tr>
        <td>Language: <input type="text"  th:field="*{language}" /></td>
        <td th:if="${#fields.hasErrors('language')}" th:errors="*{language}">Language Error</td>
    </tr>
    <tr>
        <td>Region: <input type="text"  th:field="*{region}" /></td>
        <td th:if="${#fields.hasErrors('region')}" th:errors="*{region}">Region Error</td>
    </tr>
    <tr>
        <td>Related Agreements: <input type="text"  th:field="*{related_agreements}" /></td>
        <td th:if="${#fields.hasErrors('related_agreements')}" th:errors="*{related_agreements}">Related Agreements Error</td>
    </tr>
    <tr>
        <td><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></td>
    </tr>
    </table>
    </form>
		 
		<script type="text/javascript">
		 
		    function changeStatus() {
		        var allForms = document.getElementsByTagName('form');
		        var dropdown = document.getElementById("dropdown");
		        if (dropdown.value != "-1") {
		            var form = document.getElementById(dropdown.value);
		            for (var i = 0; i < allForms.length; i++) {
		                allForms[i].setAttribute("class", "display-none");
		            }
		            form.setAttribute("class", "");
		        }
		        var contractForm = document.getElementById("addContract");
		        contractForm.setAttribute("class", "");
		    }
		    
		    function submit(){
		    	document.getElementById("addContract").submit();
   				document.getElementById(dropdown.value).submit();
		    }
		</script>
    </div>
</body>
</html>