<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Admin Settings</title>
<link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
<style>
.square {
  height: 20px;
  width: 50px;
  background-color: #555;
}
</style>
</head>
<body onload="colours();">
	<div class="headerContainer">
	<div class="header">
	<h1>Contract Management</h1>
	</div>
	<div class="logout">
    	<div sec:authorize="isAuthenticated()">Welcome, <span sec:authentication="name"></span></div>
        <form th:action="@{/logout}" method="post"> 
            <input type="submit" value="Logout"/> 
        </form>
    	</div>
    	</div>
	<div class="sidenav">
		<div>
 		<a href="/">Home</a>
 		</div>
 		<div>
 		<a href="/add_contracts">New Contract</a></li>
 		<p class="sub">Create a new contract</p>
 		</div>
 		<div>
 		<a href="/search_contracts">Search Contracts</a></li>
 		<p class="sub">Search for a contract</p>
 		</div>
 		<div>
 		<a href="/archive_contracts">Archived Contracts</a></li>
 		<p class="sub">View Archived Contracts</p>
 		</div>
 		<div>
 		<a href="/my_contracts">My Contracts</a></li>
 		<p class="sub">View your assigned contracts</p>
 		</div>
 		<div>
 		<a href="/favourite_contracts">Favourited Contracts</a></li>
 		<p class="sub">View your favourited contracts</p>
 		</div>
	</div>
	
	<div class="content">
		<h1>Admin Home</h1>
	<div class="subnav">
	<div class="links">
	<a>Home</a>
	<a href="/create_account">Create Account</a>
	<a href="/manage_users">Manage Users</a>
	<a href="/create_account">Site Settings</a>
	<a href="/audit">Track Changes</a>
	</div>
	</div>
	<h3><div sec:authorize="isAuthenticated()">Welcome, <span sec:authentication="name"></span> to the admin portal.</div></h3>
    <p>Here you may access all the relevant administrative information.</p>
    </div>
    
<footer>
	<a>Admin</a>
	<a href="/help">Help Page</a>
</footer>

</body>
</html>