<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Favourite Contracts</title>
<link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" title="style" id="style"/>
<link href="../static/greenstyle.css" th:href="@{/greenstyle.css}" rel="stylesheet" title="greenstyle" id="greenstyle"/>
<link href="../static/greystyle.css" th:href="@{/greystyle.css}" rel="stylesheet" title="greystyle" id="greystyle"/>
<link href="../static/redstyle.css" th:href="@{/redstyle.css}" rel="stylesheet" title="redstyle" id="redstyle"/>
<style>
#myaccount {
width:300px;
margin-left:auto;
margin-right:auto;}

#myaccount tr{
padding:0px;
}

#myaccount th{
font-weight:normal;
padding:0px;
}

label {
width:30%;}

input {
margin-top:1px;}

#part1 {
margin-bottom:50px;}

h3 {
text-align:center;}
#myaccount p {
display:inline-block;
margin-left: 4px;}

#EmailForm {
margin-left:auto;
margin-right:auto;
width:60%;}

.btn {
margin-top:10px;
margin-left:45%;
}

#passwordForm {
width:60%;
margin-left:auto;
margin-right:auto;}

</style>
</head>
<body onload="setColours();">
	<div class="header">
	<img class="logo" src="../resources/static/logoimage/logo.png" width="70" th:src="@{logoimage/logo.png}">
	<h1>Contract Management</h1>
	<div class="logout">
    	<div sec:authorize="isAuthenticated()">Welcome, <span sec:authentication="name"></span></div>
    	<form th:action="@{/change_password}" method="get">
            <button type="submit" value="My Account" class="logoutButton"/>My Account</button>
        </form>
        <form th:action="@{/logout}" method="post"> 
            <button type="submit" value="Logout" class="logoutButtonCancel"/>Logout</button>
        </form>
    	</div>
<div class="sidenav">
		<div>
	 		<a href="/">Home</a>
	 		</div>
	 		<div>
	 		<a href="/add_contracts">New Contract</a></li>
	 		</div>
	 		<div>
	 		<a href="/search_contracts">Search Contacts</a></li>
	 		</div>
	 		<div>
	 		<a href="/my_contracts">My Contracts</a></li>
 			</div>
 			<div>
	 		<a href="/favourited_contracts">Favourited Contracts</a>
	 		</div>
	 			<div>
 		<a href="/help">Help</a></li>
 		</div>
 		<div th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}">
 		<a href="/admin_settings">Admin</a></li>
 		</div>
 			</div>
 			</div>

	<div class="content">
	<h2>My Account</h2>
	<div th:if="${message2}" th:text="${message2}" class="successMessage"/>
	<div th:if="${message4}" th:text="${message4}" class="alertMessage"/>
	<div class="tab">
		  <button class="tablinks" onclick="openTab(event, 'MyAccountDetails')">My Account Details</button>
		  <button class="tablinks" onclick="openTab(event, 'ChangeEmail')">Change Email</button>
		  <button class="tablinks" onclick="openTab(event, 'ChangePassword')">Change Password</button>
		</div>
	<div id="MyAccountDetails" class="tabcontent">
	<h3>Account Details</h3>
	<table id="myaccount">
				<tr><th><p><b>Username: </b><span sec:authentication="name"></span></p></th></tr>
        		<tr><th><p><b>Name: </b><p th:text="' ' + ${firstname} + ' ' + ${lastname}"></p></th></tr>
        		<tr><th><p><b>Email:</b></p><p th:text="' ' + ${email}"></p></th></tr>
       </table>
     </div>
     <div id="ChangeEmail" class="tabcontent">
        <h3>Update Your Email</h3>
        <form name="EmailForm" id="EmailForm" th:action="@{/update_email}" method="post">                  
        		<label for="updateEmail">Email: </label>
                <input type="updateEmail" id="updateEmail" name="updateEmail"/>
                <p th:text="${message5}" class="error"></p>  
                <button type="submit" value="Submit" class="btn" id="emailSubmit">Submit</button>
        </form>
        </div>
        <div id="ChangePassword" class="tabcontent">
        <h3>Update Your Password</h3>
        <form name="passwordForm" id="passwordForm" th:action="@{/update_password}" method="post">                  
        		<label for="passwordChange">Password: </label>
                <input type="password" id="passwordChange" name="passwordChange"/>  
        		<label for="passwordChangeRepeat">Password Repeat: </label>
             	<input type="password" id="passwordChangeRepeat" name="passwordChangeRepeat"/>
             	<br>
             	<p th:text="${message}" class="error"></p>  
             	<p th:text="${message3}" class="error"></p> 
                <button type="submit" value="Submit" class="btn">Submit</button>
        </form>
        </div>
   </div>
    
    <table class="display-none">
    <td th:text="${currentCss.idcurrent_css}"></td>
    <td th:text="${currentCss.colour}" id="css"></td>
    </table>
         
<script>

function setColours(){
  var i, link_tag ;
  var currcss = document.getElementById("css");
  console.log(currcss);
  for (i = 0, link_tag = document.getElementsByTagName("link") ; i < link_tag.length ; i++ ) {
    if ((link_tag[i].rel.indexOf( "stylesheet" ) != -1) && link_tag[i].title) {
      link_tag[i].disabled = true ;
      if (currcss.innerHTML.indexOf(link_tag[i].title) != -1) {
        document.getElementById(link_tag[i].title).disabled = false;
      }
    }
  }
}

// Accordion 
function searchID() {

	  // Declare variables 
	  var input = document.getElementById("myInput");
	  var filter = input.value.toUpperCase();
	  var table = document.getElementById("viewcontracts");
	  var trs = table.tBodies[0].getElementsByTagName("tr");

	  // Loop through first tbody's rows
	  for (var i = 0; i < trs.length; i++) {

	    // define the row's cells
	    var tds = trs[i].getElementsByTagName("th");

	    // hide the row
	    trs[i].style.display = "none";

	    // loop through row cells
	    for (var i2 = 0; i2 < tds.length; i2++) {

	      // if there's a match
	      if (tds[i2].innerHTML.toUpperCase().indexOf(filter) > -1) {

	        // show the row
	        trs[i].style.display = "";

	        // skip to the next row
	     	continue;

	      }
	    }
	  }
	}
function openTab(evt, tabName) {
		  	  var i, tabcontent, tablinks;
		  	  tabcontent = document.getElementsByClassName("tabcontent");
		  	  for (i = 0; i < tabcontent.length; i++) {
		  	    tabcontent[i].style.display = "none";
		  	  }
		  	  tablinks = document.getElementsByClassName("tablinks");
		  	  for (i = 0; i < tablinks.length; i++) {
		  	    tablinks[i].className = tablinks[i].className.replace(" active", "");
		  	  }
		  	  document.getElementById(tabName).style.display = "block";
		  	  evt.currentTarget.className += " active";
		  	}
</script>

<footer>
<p class="footerText">Contract Management System</p>
<p class="footerText">See <a href="/help">help</a> page for further contact info</p>
</footer>


</body>
</html>

