<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Update Account</title>
<link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
<link href="../static/greenstyle.css" th:href="@{/greenstyle.css}" rel="stylesheet" title="greenstyle" id="greenstyle"/>
<link href="../static/greystyle.css" th:href="@{/greystyle.css}" rel="stylesheet" title="greystyle" id="greystyle"/>
<link href="../static/redstyle.css" th:href="@{/redstyle.css}" rel="stylesheet" title="redstyle" id="redstyle"/>
<script>
function setColours(){
  var i, link_tag ;
  var currcss = document.getElementById("css");
  console.log(currcss);
  for (i = 0, link_tag = document.getElementsByTagName("link") ; i < link_tag.length ; i++ ) {
    if ((link_tag[i].rel.indexOf( "stylesheet" ) != -1) && link_tag[i].title) {
      link_tag[i].disabled = true ;
      if (currcss.innerHTML.indexOf(link_tag[i].title) != -1) {
        document.getElementById(link_tag[i].title).disabled = false;
      }
    }
  }
}
</script>
<style>
</style>
  </head>
<body onload="setColours();">
 <div class="header">
	<img class="logo" src="../resources/static/logoimage/logo.png" width="70" th:src="@{logoimage/logo.png}">
	<h1>Contract Management</h1>
	<div class="logout">
    	<div sec:authorize="isAuthenticated()">Welcome, <span sec:authentication="name"></span></div>
    	<form th:action="@{/change_password}" method="get"> 
            <button type="submit" value="My Account" class="logoutButton"/>My Account</button>
        </form>
        <form th:action="@{/logout}" method="post"> 
            <button type="submit" value="Logout" class="logoutButtonCancel"/>Logout</button>
        </form>
    	</div>
	<div class="sidenav">
		<div>
 		<a href="/">Home</a>
 		</div>
 		<div>
 		<a href="/new_contract">New Contract</a></li>
 		<p class="sub">Create a new contract</p>
 		</div>
 		<div>
 		<a href="/search_contracts">Search Contracts</a></li>
 		<p class="sub">Search for a contract</p>
 		</div>
 		<div>
 		<a href="/my_contracts">My Contracts</a></li>
 		<p class="sub">View your assigned contracts</p>
 		</div>
 		<div>
 		<a href="/favourite_contracts">Favourite Contracts</a></li>
 		<p class="sub">View your favourited contracts</p>
 		</div>
 			<div>
 		<a href="/help">Help</a></li>
 		<p class="sub">Find help for system</p>
 		</div>
 		<div th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}">
 		<a href="/admin_settings">Admin</a></li>
 		<p class="sub">View the admin settings</p>
 		</div>
	</div>
	</div>
	<div class="content">
	<h2>My Account Details</h2>
        		<p>Username: <span sec:authentication="name"></span></p>
        		<p th:text="'Name: ' + ${firstname} + ' ' + ${lastname}"></p>
        		<p th:text="'Email: ' + ${email}"></p> 
        <form name="EmailForm" id="EmailForm" th:action="@{/update_email}" method="post">                  
                <h3>Update Your Email</h3>
        		<label for="updateEmail">Email: </label>
                <input type="updateEmail" id="updateEmail" name="updateEmail"/>  
                <br>
                <button type="submit" value="Submit" class="btn">Submit</button>
        </form>
        <form name="passwordForm" id="passwordForm" th:action="@{/update_password}" method="post">                  
                <h3>Update Your Password</h3>
        		<label for="passwordChange">Password: </label>
                <input type="password" id="passwordChange" name="passwordChange"/>  
        		<label for="passwordChangeRepeat">Password Repeat: </label>
             	<input type="password" id="passwordChangeRepeat" name="passwordChangeRepeat"/>
             	<td th:text="${message}"></td>  
             	<br>
                <button type="submit" value="Submit" class="btn">Submit</button>
        </form>
   </div>
        

        
  </body>
  <footer>
</footer>
</html>
