<DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Create Account</title>
<style>
	h1 {
	font-family: verdana;
	}
</style>
</head>
<body>
<form action="#" th:action="@{/api/staff}" th:object="${user}" method="post" id="addUser">
	<h1>Add New User</h1>
	<p> Fill in this form to create an account </p>    
    <table>
    <tr>
   		<td>First Name: <input type="text" th:field="*{firstname}" /></td>
   		<td th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Name Error</td>
   	</tr>
   	<tr>
    	<td>Last Name: <input type="text"  th:field="*{lastname}"/></td>
    	<td th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Name Error</td>
    </tr>
    <tr>
    	<td>Role: <input type="text"  th:field="*{role}" /></td>
    	<td th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Role Error</td>
    </tr>
    <tr>
    	<td>Username: <input type="text"  th:field="*{username}" /></td>
    	<td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</td>
    </tr>
    <tr>
        <td>Password: <input type="text"  th:field="*{password}" /></td>
        <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
    </tr>
    <tr>
        <td>Repeat password: <input type="text"  th:field="*{pswrepeat}" /></td>
        <td th:if="${#fields.hasErrors('pswrepeat')}" th:errors="*{pswrepeat}">Password Error</td>
    </tr>
    <tr>
        <td><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></td>
    </tr>
    </table>
</form>

</body>
</html>
