<DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Create Account</title>
<link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
</head>
<body onload="setColours();">
	<div class="headerContainer">
	<div class="header">
	<h1>Contract Management</h1>
	</div>
	<div class="logout">
    	<div sec:authorize="isAuthenticated()">Welcome, <span sec:authentication="name"></span></div>
        <form th:action="@{/logout}" method="post"> 
            <input type="submit" value="Logout"/> 
        </form>
    	</div>
    	</div>
<div class="sidenav">
		<div>
	 		<a href="/">Home</a>
	 		</div>
	 		<div>
	 		<a href="/add_contracts">New Contract</a></li>
	 		<p class="sub">Create a new contract</p>
	 		</div>
	 		<div>
	 		<a href="/search_contracts">Search Contacts</a></li>
	 		<p class="sub">Search for a contract</p>
	 		</div>
	 		<!--  <div>
	 		<a href="/archive_contracts">Archived Contracts</a></li>
	 		<p class="sub">View archived contracts</p>
	 		</div> -->
	 		<div>
	 		<a href="/my_contracts">My Contracts</a></li>
	 		<p class="sub">View your assigned contracts</p>
 			</div>
 			<div>
	 		<a href="/favourite_contracts">Favourited Contracts</a></li>
	 		<p class="sub">View your favourited contracts</p>
	 		</div>
</div>

<div class="content">
<form action="#" th:action="@{/api/staff}" th:object="${user}" method="post" id="addUser">
<div th:if="${message}" th:text="${message}" class="alertMessage"/>
	<h2>Add New User</h2>
	<div class="subnav">
	<div class="links">
	<a href="/admin_settings">Home</a>
	<a>Create Account</a>
	<a href="/manage_users">Manage Users</a>
	<a href="/create_account">Site Settings</a>
	<a href="/audit">Track Changes</a>
	</div>
	</div>
	<p> Fill in this form to create an account </p>    
    <table>
    <tr>
   		<td>First Name: <input type="text" th:field="*{firstname}" /></td>
   		<td th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Name Error</td>
   	</tr>
   	<tr>
    	<td>Last Name: <input type="text"  th:field="*{lastname}"/></td>
    	<td th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Name Error</td>
    </tr>
    <tr>
    	<td>Role: <select id="role" name="role">
    	<option disabled="">Select a role</option>
    	<option value="Admin">Admin</option>
    	<option value="Legal">Legal</option>
    	</select></td>
    </tr>
    <tr>
    	<td>Username: <input type="text"  th:field="*{username}" /></td>
    	<td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</td>
        <td th:text="${message1}"></td>
    </tr>
    <tr>
        <td>Password: <input type="password"  th:field="*{password}" /></td>
        <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
    </tr>
     <tr>
        <td>Password Repeat: <input type="password" th:field="*{passrepeat}"/></td>
        <td th:if="${#fields.hasErrors('passrepeat')}" th:errors="*{passrepeat}">Password Error</td>
        <td th:text="${message2}"></td>
        <td th:text="${message3}"></td>
    </tr>
    <tr>
        <td><input type="submit" value="Submit"/></td>
    </tr>
    </table>
</form>
</div>

<footer>
	<a href="/admin_settings">Admin</a>
	<a href="/help">Help Page</a>
</footer>

    <table class="display-none">
    <td th:text="${currentCss.idcurrent_css}"></td>
    <td th:text="${currentCss.colour}" id="css"></td>
    </table>
         
<script>

function setColours(){
  var i, link_tag ;
  var currcss = document.getElementById("css");
  console.log(currcss);
  for (i = 0, link_tag = document.getElementsByTagName("link") ; i < link_tag.length ; i++ ) {
    if ((link_tag[i].rel.indexOf( "stylesheet" ) != -1) && link_tag[i].title) {
      link_tag[i].disabled = true ;
      if (currcss.innerHTML.indexOf(link_tag[i].title) != -1) {
        document.getElementById(link_tag[i].title).disabled = false;
      }
    }
  }
}
</script>
</body>
</html>
