<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Favourite Contracts</title>
<link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" title="style" id="style"/>
<link href="../static/greenstyle.css" th:href="@{/greenstyle.css}" rel="stylesheet" title="greenstyle" id="greenstyle"/>
<link href="../static/greystyle.css" th:href="@{/greystyle.css}" rel="stylesheet" title="greystyle" id="greystyle"/>
<link href="../static/redstyle.css" th:href="@{/redstyle.css}" rel="stylesheet" title="redstyle" id="redstyle"/>
<style>
#role {
font-size: 11px;
    padding: 10px;
    background: #ddd;
     border: none; 
    margin-bottom:5px;
    width:300px;
}

p{
margin-left:80%;
margin-bottom:0px;
padding:0px;
margin-top:0px;
font-size:14px;
}

label {
padding-top:0px;
margin-top:0px;
width:350px;
}
</style>
</head>
<body onload="setColours();">
	<div class="header">
	<img class="logo" width="70" th:src="@{/logoimage/logo.png}">
	<h1>Contract Management</h1>
	<div class="logout">
    	<div sec:authorize="isAuthenticated()">Welcome, <span sec:authentication="name"></span></div>
    	<form th:action="@{/change_password}" method="get"> 
            <button type="submit" value="My Account" class="logoutButton"/>My Account</button>
        </form>
        <form th:action="@{/logout}" method="post"> 
            <button type="submit" value="Logout" class="logoutButtonCancel"/>Logout</button>
        </form>
    	</div>
<div class="sidenav">
		<div>
	 		<a href="/">Home</a>
	 		</div>
	 		<div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_ADMIN'',''ROLE_LEGAL'')')}">
	 		<a href="/add_contracts">New Contract</a></li>
	 		</div>
	 		<div>
	 		<a href="/search_contracts">Search Contacts</a></li>
	 		</div>
	 		<div>
	 		<a href="/my_contracts">My Contracts</a></li>
 			</div>
 			<div>
	 		<a href="/favourited_contracts">Favourited Contracts</a>
	 		</div>
	 			<div>
 		<a href="/help">Help</a></li>
 		</div>
 		<div th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}">
 		<li>Admin</li>
 		</div>
 			</div>
 			</div>

	<div class="content">
    <form action="#" th:action="@{/api/staff}" th:object="${user}" method="post" id="addUser">
<div th:if="${message}" th:text="${message}" class="alertMessage"/>
	<h2>Create User Account</h2>
	<div class="subnav">
	<div class="links">
	<a href="/admin_settings">Home</a>
	<li>Create User Account</li>
	<a href="/manage_users">Manage User Accounts</a>
	<a href="/site_settings">Site Settings</a>
	<a href="/audit">Track Changes</a>
	</div>
	</div>
	<div th:if="${message4}" th:text="${message4}" class="successMessage"/>
	<h3> Fill in this form to create an account </h3>    
	<form>
	<label for="firstname">First Name</label>
   		<input type="text" th:field="*{firstname}" />
   		<p th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" class="error">Name Error</p>
	<label for="lastname">Last Name</label>
    	<input type="text"  th:field="*{lastname}"/>
    	<p th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" class="error">Name Error</p>
	<label for="role">Role</label>
    	<select id="role" name="role">
    	<option disabled="">Select a role</option>
    	<option value="ADMIN">Admin</option>
    	<option value="LEGAL">Legal</option>
    	<option value="EXTERNAL">External</option>
    	</select>
    	<p th:if="${#fields.hasErrors('role')}" th:errors="*{role}" class="error">Role Error</p>
	<label for="username">Username</label>
    	<input type="text"  th:field="*{username}" />
    	<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error">Username Error</p>
        <p th:text="${message1}"></p>
        <label for="password">Password</label>
        <input type="password"  th:field="*{password}" />
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error">Password Error</p>
        <label for="passrepeat">Password Repeat</label>
        <input type="password" th:field="*{passrepeat}"/>
        <p th:if="${#fields.hasErrors('passrepeat')}" th:errors="*{passrepeat}" class="error">Password Error</p>
        <label for="email">Email</label>
        <input type="email" th:field="*{email}"/>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error">Email Error</p>
        <p th:text="${message2}"></p>
        <p th:text="${message3}"></p>
        <input type="submit" value="Submit"/>
</form>
    
    </div>
    
    <table class="display-none">
    <td th:text="${currentCss.idcurrent_css}"></td>
    <td th:text="${currentCss.colour}" id="css"></td>
    </table>
         
<script>

function setColours(){
  var i, link_tag ;
  var currcss = document.getElementById("css");
  console.log(currcss);
  for (i = 0, link_tag = document.getElementsByTagName("link") ; i < link_tag.length ; i++ ) {
    if ((link_tag[i].rel.indexOf( "stylesheet" ) != -1) && link_tag[i].title) {
      link_tag[i].disabled = true ;
      if (currcss.innerHTML.indexOf(link_tag[i].title) != -1) {
        document.getElementById(link_tag[i].title).disabled = false;
      }
    }
  }
}

// Accordion 
function searchID() {

	  // Declare variables 
	  var input = document.getElementById("myInput");
	  var filter = input.value.toUpperCase();
	  var table = document.getElementById("viewcontracts");
	  var trs = table.tBodies[0].getElementsByTagName("tr");

	  // Loop through first tbody's rows
	  for (var i = 0; i < trs.length; i++) {

	    // define the row's cells
	    var tds = trs[i].getElementsByTagName("th");

	    // hide the row
	    trs[i].style.display = "none";

	    // loop through row cells
	    for (var i2 = 0; i2 < tds.length; i2++) {

	      // if there's a match
	      if (tds[i2].innerHTML.toUpperCase().indexOf(filter) > -1) {

	        // show the row
	        trs[i].style.display = "";

	        // skip to the next row
	     	continue;

	      }
	    }
	  }
	}
function ifEmpty(){
	
}
</script>

<footer>
<p class="footerText">Contract Management System</p>
<p class="footerText">See <a href="/help">help</a> page for further contact info</p>
</footer>


</body>
</html>
