<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Favourite Contracts</title>
<link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />

</head>
	<div class="headerContainer">
	<div class="header">
	<h1>Contract Management</h1>
	</div>
	<div class="logout">
    	<div sec:authorize="isAuthenticated()">Welcome, <span sec:authentication="name"></span></div>
        <form th:action="@{/logout}" method="post"> 
            <input type="submit" value="Logout"/> 
        </form>
    	</div>
    	</div>
<div class="sidenav">
		<div>
	 		<a href="/">Home</a>
	 		</div>
	 		<div>
	 		<a href="/add_contracts">New Contract</a></li>
	 		<p class="sub">Create a new contract</p>
	 		</div>
	 		<div>
	 		<a>Search Contacts</a></li>
	 		<p class="sub">Search for a contract</p>
	 		</div>
	 		<div>
	 		<a href="/archive_contracts">Archived Contracts</a></li>
	 		<p class="sub">View archived contracts</p>
	 		</div>
	 		<div>
	 		<a href="/my_contracts">My Contracts</a></li>
	 		<p class="sub">View your assigned contracts</p>
 			</div>
 			<div>
 			<a href="/create_account">Create Account</a></li>
 			<p class="sub">Create a new account</p>
 			</div>
 			</div>
<body>
	<h1>Favourite Contracts</h1>
	<div class="content">
    <!--<form action="#" th:action="@{/api/contracts}" th:object="${contracts}" method="get">
      <label for="search">Search:</label><input name="search" id="search"> 
    <p><input type="submit" value="Submit" /> </p>
    </form>
    -->
    <h2>Contracts</h2>
	<table id="viewcontracts">
	<thead>
	<tr>
	<td>Request Id</td>
    <td>Agreement Title</td>
    <td>Agreement Type</td>
    <td>Description</td>
    <td>Business Name</td>
    <td>Unfavourite Contract</td>
    </tr>
    </thead>
    </tbody>
    <tr th:each="contract : ${contracts}">
        <th>
        	<a th:text="${contract.requestid}" th:href="@{/view_details/{requestid}(requestid=${contract.requestid})}" target="_blank"></a>
        </th>
        <th th:text=${contract.agreement_title}></th>	 
        <th th:text="${contract.agreement_type}"></th>
        <th th:text="${contract.description}"></th>
        <th th:text="${contract?.businessname}"></th>
        <th>
       		<form action="#" th:action="@{/unfavourite_contracts/{requestid}(requestid=${contract.requestid})}" method="post">
  				<input type="hidden"/>
  				<button onclick="return confirm('Are you sure want to unfavourite this?');" type="submit" id="submitButton">Unfavoruite</button>
			</form>
     	</th>
    </tr>
    </tbody>
    </table>
    </div>
    
<script>
// Accordion 
function searchID() {

	  // Declare variables 
	  var input = document.getElementById("myInput");
	  var filter = input.value.toUpperCase();
	  var table = document.getElementById("viewcontracts");
	  var trs = table.tBodies[0].getElementsByTagName("tr");

	  // Loop through first tbody's rows
	  for (var i = 0; i < trs.length; i++) {

	    // define the row's cells
	    var tds = trs[i].getElementsByTagName("th");

	    // hide the row
	    trs[i].style.display = "none";

	    // loop through row cells
	    for (var i2 = 0; i2 < tds.length; i2++) {

	      // if there's a match
	      if (tds[i2].innerHTML.toUpperCase().indexOf(filter) > -1) {

	        // show the row
	        trs[i].style.display = "";

	        // skip to the next row
	     	continue;

	      }
	    }
	  }

	}
</script>

<footer>
	<a href="/help">Help Page</a>
</footer>


</body>
</html>
