<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Help Page</title>
</head>

<link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

<div class="header">
<h1>Contract Management</h1>
</div>

	<div class="sidenav">
			<div>
	 		<a href="/">Home</a>
	 		</div>
	 		<div>
	 		<a href="/add_contracts">New Contract</a></li>
	 		<p class="sub">Create a new contract</p>
	 		</div>
	 		<div>
	 		<a href="/search_contracts">Search Contacts</a></li>
	 		<p class="sub">Search for a contract</p>
	 		</div>
	 		<div>
	 		<a href="/archive_contracts">Archived Contracts</a></li>
	 		<p class="sub">View archived contracts</p>
	 		</div>
	 		<div>
	 		<a href="/my_contracts">My Contracts</a></li>
	 		<p class="sub">View your assigned contracts</p>
 			</div>
 			<div>
 			<a href="/create_account">Create Account</a></li>
 			<p class="sub">Create a new account</p>
 			</div>
	</div>

<div class = "content">

<h3>About</h3>
<p>This is a Contract Management System which enables you to administrate contracts within a business.</p>

<h3>Need help?</h3>
<p> Contact the site admin on contractmanagementsystem123@gmail.com</p>

</div>

<footer>
	<a href="/help">Help Page</a>
</footer>

</body>
</html>