<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Home</title>
<link rel="icon" href="../resources/static/logoimage/logo.png" sizes="32x32">
<meta charset="ISO-8859-1">
<link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" title="style" id="style"/>
<link href="../static/greenstyle.css" th:href="@{/greenstyle.css}" rel="stylesheet" title="greenstyle" id="greenstyle"/>
<link href="../static/greystyle.css" th:href="@{/greystyle.css}" rel="stylesheet" title="greystyle" id="greystyle"/>
<link href="../static/redstyle.css" th:href="@{/redstyle.css}" rel="stylesheet" title="redstyle" id="redstyle"/>
<title>Home Page</title>
</head>
<body  onload="setColours(); sortByDate(); showTen();">
	<div class="headerContainer">
	<div class="header">
	<img class="logo" src="../resources/static/logoimage/logo.png" width="70" th:src="@{logoimage/logo.png}">
	<h1>Contract Management</h1>
	</div>
	<div class="logout">
    	<div sec:authorize="isAuthenticated()">Welcome, <span sec:authentication="name"></span></div>
        <form th:action="@{/logout}" method="post"> 
            <input type="submit" value="Logout"/> 
        </form>
    	</div>
    	</div>
	<div class="sidenav">
		<div>
 		<p>Home</p>
 		</div>
 		<div>
 		<a href="/add_contracts">New Contract</a></li>
 		<p class="sub">Create a new contract</p>
 		</div>
 		<div>
 		<a href="/search_contracts">Search Contracts</a></li>
 		<p class="sub">Search for a contract</p>
 		</div>
 		<div>
 		<a href="/archive_contracts">Archived Contracts</a></li>
 		<p class="sub">View Archived Contracts</p>
 		</div>
 		<div>
 		<a href="/my_contracts">My Contracts</a></li>
 		<p class="sub">View your assigned contracts</p>
 		</div>
 		<div>
 		<a href="/favourite_contracts">Favourited Contracts</a></li>
 		<p class="sub">View your favourited contracts</p>
 		</div>
	</div>
	
	<div class="content">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<h2>Welcome to the Contract Management System</h2>

    <div>
     <h3>Most Recent Contracts</h3>
	<table id="viewcontracts">
	<thead>
	<tr>
	<th>Request Id</th>
    <th>Agreement Title</th>
    <th>Agreement Type</th>
    <th>Description</th>
    <th>Business Name</th>
    <th>Date Updated</th>
    </tr>
    </thead>
    <tbody class="wrongth">
    <tr th:each="contract : ${contracts}">
        <!--<th th:text="${contract.requestid}"></th>-->
        <th>
        	<a th:text="${contract.requestid}" th:href="@{/view_details/{requestid}(requestid=${contract.requestid})}" target="_blank"></a>
        </th>
        <th th:text="${contract.agreement_title}"></th>
        <th th:text="${contract.agreement_type}"></th>
        <th th:text="${contract.description}"></th>
        <th th:text="${contract.businessname}"></th>
        <th th:text="${contract.date_updated}"></th>
    </tr>
    </tbody>
    </table>
    </div>
     <h3>Unassigned Contracts</h3>
     <div th:if= "${contracts2.isEmpty()}">
     <p>There are currently no unassigned contracts</p>
     </div>
     <div th:if= "${!contracts2.isEmpty()}">
        <table id="unassigned">
	<thead>
	<tr>
    <th>Agreement Title</th>
    <th>Agreement Type</th>
    <th>Description</th>
    <th>Business Name</th>
    <th>Assign</th>
    </tr>
    </thead>
    <tbody class="wrongth">
    <tr th:each="contract : ${contracts2}">
        <th th:text="${contract.agreement_title}"></th>
        <th th:text="${contract.agreement_type}"></th>
        <th th:text="${contract.description}"></th>
        <th th:text="${contract.businessname}"></th>
        <th>
        <form action="#" th:action="@{/assign/{requestid}(requestid=${contract.requestid})}" method="post">			
  				<button onclick="return confirm('Are you sure want to assign this to you?');" type="submit" id="submitButton2">Assign to Me</button>
			</form>
		</th>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
 
    <table class="display-none">
    <td th:text="${currentCss.idcurrent_css}"></td>
    <td th:text="${currentCss.colour}" id="css"></td>
    </table>
         
<script>

function setColours(){
  var i, link_tag ;
  var currcss = document.getElementById("css");
  console.log(currcss);
  for (i = 0, link_tag = document.getElementsByTagName("link") ; i < link_tag.length ; i++ ) {
    if ((link_tag[i].rel.indexOf( "stylesheet" ) != -1) && link_tag[i].title) {
      link_tag[i].disabled = true ;
      if (currcss.innerHTML.indexOf(link_tag[i].title) != -1) {
        document.getElementById(link_tag[i].title).disabled = false;
      }
    }
  }
}

function showTen(){
	$("#viewcontracts > tbody > tr").hide().slice(0, 10).show();
	$(".show-all").on("click", function() {
	  $("tbody > tr", $(this).prev()).show();
	});}

function convertDate(d) {
	  var p = d.split("-");
	  return +(p[0]+p[1]+p[2]);
	}

	function sortByDate() {
	  var tbody = document.querySelector("#viewcontracts tbody");
	  // get trs as array for ease of use
	  var rows = [].slice.call(tbody.querySelectorAll("tr"));
	  
	  rows.sort(function(a,b) {
	    return  convertDate(b.cells[5].innerHTML)- convertDate(a.cells[5].innerHTML);
	  });
	  
	  rows.forEach(function(v) {
	    tbody.appendChild(v); // note that .appendChild() *moves* elements
	  });
	}

	document.querySelector("button").addEventListener("click", sortByDate);

</script>

<footer>
	<a href="/admin_settings">Admin</a>
	<a href="/help">Help Page</a>
</footer>

</body>
</html>