<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
<title>Home Page</title>
</head>
<body>
	<div class="header">
		<h1>Contract Management</h1>
	</div>
	<div class="sidenav">
		<div>
 		<p>Home</p>
 		</div>
 		<div>
 		<a href="/add_contracts">New Contract</a></li>
 		<p class="sub">Create a new contract</p>
 		</div>
 		<div>
 		<a href="/search_contracts">Search Contacts</a></li>
 		<p class="sub">Search for a contract</p>
 		</div>
 		<div>
 		<a>My Contracts</a></li>
 		<p class="sub">View your assigned contracts</p>
 		</div>
	</div>
	<div class="content">
		<h2>Welcome to the Contract Management System</h2>
    	<div sec:authorize="isAuthenticated()">Welcome, <span sec:authentication="name"></span></div>
            <form th:action="@{/logout}" method="post"> 
                <input type="submit" value="Logout"/> 
            </form>
        </div>
	</div>
</body>
</html>