<!--The HTML page for managing users-->
<!--@author Alice, Caleb, Laurie, Natalie, Poppy-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Manage Users</title>
<link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" title="style" id="style"/>
<link href="../static/greenstyle.css" th:href="@{/greenstyle.css}" rel="stylesheet" title="greenstyle" id="greenstyle"/>
<link href="../static/greystyle.css" th:href="@{/greystyle.css}" rel="stylesheet" title="greystyle" id="greystyle"/>
<link href="../static/redstyle.css" th:href="@{/redstyle.css}" rel="stylesheet" title="redstyle" id="redstyle"/>
</head>
<body onload="setColours();">
	<div class="header">
	<img class="logo" src="../resources/static/logoimage/logo.png" width="70" th:src="@{logoimage/logo.png}">
	<h1>Contract Management</h1>
	<div class="logout">
    	<div sec:authorize="isAuthenticated()">Welcome, <span sec:authentication="name"></span></div>
    	<form th:action="@{/change_password}" method="get"> 
            <button type="submit" value="My Account" class="logoutButton"/>My Account</button>
        </form>
        <form th:action="@{/logout}" method="post"> 
            <button type="submit" value="Logout" class="logoutButtonCancel"/>Logout</button>
        </form>
    	</div>
	<div class="sidenav">
		<div>
 			<a href="/">Home</a>
 		</div>
 		<div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_ADMIN'',''ROLE_LEGAL'')')}">
	 		<a href = "/add_contracts">New Contract</a>
 		</div>
 		<div>
	 		<a href="/search_contracts">Search Contracts</a>
 		</div>
 		<div>
	 		<a href="/my_contracts">My Contracts</a>
 		</div>
 		<div>
 		<a href="/favourite_contracts">Favourited Contracts</a></li>
 		</div>
 			<div>
 		<a href="/help">Help</a></li>
 		</div>
 		<div th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}">
 		<li>Admin</li>
 		</div>
	</div>
	</div>
	
	<div class="content">
		<h2>Manage User Accounts</h2>
	<div class="subnav">
	<div class="links">
	<a href="/admin_settings">Home</a>
	<a href="/create_account">Create User Account</a>
	<li>Manage User Accounts</li>
	<a href="/site_settings">Site Settings</a>
	<a href="/audit">Track Changes</a>
	</div>
	</div>
	<table>
	<thead>
	<tr>
	<th>User ID</th>
	<th>First Name</th>
    <th>Last Name</th>
    <th>Username</th>
    <th>Role</th>
    <th>Locked</th>
    <th>Lock User</th>
    <th>Unlock User</th>
    </tr>
    </thead>
	<tbody class="wrongth">
    <tr th:each="user : ${users}">
    	<th th:text=${user.userid}></th>	
        <th th:text=${user.firstname}></th>	 
        <th th:text="${user.lastname}"></th>
        <th th:text="${user.username}"></th>
        <th th:text="${user.role}"></th>
        <th th:text="${user.locked}"></th>
             	<th>
       		<form action="#" th:action="@{/lock_users/{userid}(userid=${user.userid})}" method="get">
  				<input type="hidden"/>
  				<button onclick="return confirm('Are you sure want to lock this user?');" type="submit" id="lock_button" class="btn">Lock</button>
			</form>
     	</th>
     	<th>
       		<form action="#" th:action="@{/unlock_users/{userid}(userid=${user.userid})}" method="get">
  				<input type="hidden"/>
  				<button onclick="return confirm('Are you sure want to unlock this user?');" type="submit" id="un_button" class="btn">Unlock</button>
			</form>
     	</th>
    </tr>
    </tbody>
    </table>
    </div>
    <footer>
	<p class="footerText">Contract Management System</p>
<p class="footerText">See <a href="/help">help</a> page for further contact info</p>
</footer>

    <table class="display-none">
    <td th:text="${currentCss.idcurrent_css}"></td>
    <td th:text="${currentCss.colour}" id="css"></td>
    </table>
         
<script>

function setColours(){
  var i, link_tag ;
  var currcss = document.getElementById("css");
  console.log(currcss);
  for (i = 0, link_tag = document.getElementsByTagName("link") ; i < link_tag.length ; i++ ) {
    if ((link_tag[i].rel.indexOf( "stylesheet" ) != -1) && link_tag[i].title) {
      link_tag[i].disabled = true ;
      if (currcss.innerHTML.indexOf(link_tag[i].title) != -1) {
        document.getElementById(link_tag[i].title).disabled = false;
      }
    }
  }
}
</script>
</body>
</html>