<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Manage Users</title>
<link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
</head>
<body onload="colours();">
	<div class="headerContainer">
	<div class="header">
	<img class="logo" src="../resources/static/logoimage/logo.png" width="70" th:src="@{logoimage/logo.png}">
	<h1>Contract Management</h1>
	</div>
	<div class="logout">
    	<div sec:authorize="isAuthenticated()">Welcome, <span sec:authentication="name"></span></div>
        <form th:action="@{/logout}" method="post"> 
            <input type="submit" value="Logout"/> 
        </form>
    	</div>
    	</div>
	<div class="sidenav">
		<div>
 			<a href="/">Home</a>
 		</div>
 		<div>
	 		<a href = "/add_contracts">New Contract</a>
	 		<p class="sub">Create a new contract</p>
 		</div>
 		<div>
	 		<a href="/search_contracts">Search Contracts</a>
	 		<p class="sub">Search for a contract</p>
 		</div>
 		<div>
	 		<a href="/archive_contracts">Archived Contracts</a>
	 		<p class="sub">View Archived Contracts</p>
 		</div>
 		<div>
	 		<a href="/my_contracts">My Contracts</a>
	 		<p class="sub">View your assigned contracts</p>
 		</div>
 		<div>
 		<a href="/favourite_contracts">Favourited Contracts</a></li>
 		<p class="sub">View your favourited contracts</p>
 		</div>
	</div>
	
	<div class="content">
		<h2>Manage Users</h2>
	<div class="subnav">
	<div class="links">
	<a href="/admin_settings">Home</a>
	<a href="/create_account">Create User Account</a>
	<a>Manage User Accounts</a>
	<a href="/create_account">Site Settings</a>
	<a href="/audit">Track Changes</a>
	</div>
	</div>
	<table>
	<thead>
	<tr>
	<th>User ID</th>
	<th>First Name</th>
    <th>Last Name</th>
    <th>Username</th>
    <th>Role</th>
    <th>Locked</th>
    <th>Lock User</th>
    <th>Unlock User</th>
    </tr>
    </thead>
	<tbody class="wrongth">
    <tr th:each="user : ${users}">
    	<th th:text=${user.userid}></th>	
        <th th:text=${user.firstname}></th>	 
        <th th:text="${user.lastname}"></th>
        <th th:text="${user.username}"></th>
        <th th:text="${user.role}"></th>
        <th th:text="${user.locked}"></th>
             	<th>
       		<form action="#" th:action="@{/lock_users/{userid}(userid=${user.userid})}" method="get">
  				<input type="hidden"/>
  				<button onclick="return confirm('Are you sure want to lock this user?');" type="submit" id="lock_button">Lock</button>
			</form>
     	</th>
     	<th>
       		<form action="#" th:action="@{/unlock_users/{userid}(userid=${user.userid})}" method="get">
  				<input type="hidden"/>
  				<button onclick="return confirm('Are you sure want to unlock this user?');" type="submit" id="un_button">Unlock</button>
			</form>
     	</th>
    </tr>
    </tbody>
    </table>
    </div>
    <footer>
	<a href="/admin_settings">Admin</a>
	<a href="/help">Help Page</a>
</footer>
</body>
</html>