<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>My Contracts</title>
<link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
</head>

<body>

	<div class="headerContainer">
	<div class="header">
	<h1>Contract Management</h1>
	</div>
	<div class="logout">
    	<div sec:authorize="isAuthenticated()">Welcome, <span sec:authentication="name"></span></div>
        <form th:action="@{/logout}" method="post"> 
            <input type="submit" value="Logout"/> 
        </form>
    	</div>
    	</div>
<div class="sidenav">
		<div>
	 		<a href="/">Home</a>
	 		</div>
	 		<div>
	 		<a href="/add_contracts">New Contract</a></li>
	 		<p class="sub">Create a new contract</p>
	 		</div>
	 		<div>
	 		<a href="/search_contracts">Search Contacts</a></li>
	 		<p class="sub">Search for a contract</p>
	 		</div>
	 		<div>
	 		<a href="/archive_contracts">Archived Contracts</a></li>
	 		<p class="sub">View archived contracts</p>
	 		</div>
	 		<div>
	 		<a>My Contracts</a></li>
	 		<p class="sub">View your assigned contracts</p>
 			</div>
 			<div>
 			<a href="/create_account">Create Account</a></li>
 			<p class="sub">Create a new account</p>
 			</div>
</div>


	<div class="content">
	<h2>My Contracts</h2>
    <h3 th:text="'Contracts for User: ' + ${currentuser}"></h3>
    <p>These are all the contracts assigned to you currently.</p>
	<table id="viewcontracts">
	<thead>
	<tr>
	<th>Request Id</th>
    <th>Agreement Title</th>
    <th>Agreement Type</th>
    <th>Description</th>
    <th>Business Name</th>
    </tr>
    </thead>
    <tbody class="wrongth">
    <tr th:each="contract : ${contracts}">
        <th>
        	<a th:text="${contract.requestid}" th:href="@{/view_details/{requestid}(requestid=${contract.requestid})}" target="_blank"></a>
        </th>
        <th th:text=${contract.agreement_title}></th>	 
        <th th:text="${contract.agreement_type}"></th>
        <th th:text="${contract.description}"></th>
        <th th:text="${contract?.businessname}"></th>
    </tr>
    </tbody>
    </table>
    </div>
</body>
</html>