<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Reassign</title>
<link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" title="style" id="style"/>
<link href="../static/greenstyle.css" th:href="@{/greenstyle.css}" rel="stylesheet" title="greenstyle" id="greenstyle"/>
<link href="../static/greystyle.css" th:href="@{/greystyle.css}" rel="stylesheet" title="greystyle" id="greystyle"/>
<link href="../static/redstyle.css" th:href="@{/redstyle.css}" rel="stylesheet" title="redstyle" id="redstyle"/>
</head>
<body onload="setColours();">
<div class="headerContainer">
	<div class="header">
	<h1>Contract Management</h1>
	</div>
	<div class="logout">
    	<div sec:authorize="isAuthenticated()">Welcome, <span sec:authentication="name"></span></div>
        <form th:action="@{/logout}" method="post"> 
            <input type="submit" value="Logout"/> 
        </form>
    	</div>
    	</div>
	<div class="sidenav">
			<div>
	 		<a href="/">Home</a>
	 		</div>
	 		<div>
	 		<a href="/add_contracts">New Contract</a></li>
	 		<p class="sub">Create a new contract</p>
	 		</div>
	 		<div>
	 		<a href="/search_contracts">Search Contracts</a></li>
	 		<p class="sub">Search for a contract</p>
	 		</div>
	 		<div>
	 		<a href="/archive_contracts">Archived Contracts</a></li>
	 		<p class="sub">View archived contracts</p>
	 		</div>
	 		<div>
	 		<a href="/my_contracts">My Contracts</a></li>
	 		<p class="sub">View your assigned contracts</p>
 			</div>
 			<div>
	 		<a href="/favourite_contracts">Favourited Contracts</a></li>
	 		<p class="sub">View your favourited contracts</p>
	 		</div>
	</div>
	
	<div class="content">
	<h2>Reassign Contract</h2>
    <form action="#" th:action="@{/api/reassignment}" th:object="${contract}" method="post" id="reassignContract">
    <input type="hidden" th:field="*{requestid}"/>
		 <table>
		    <tr>
		        <td>User: <select id="userid" name="userid">
		    	<option value="">Select a user</option>
		    	<option th:each="user : ${users}"
		    	th:value="${user.userid}"
		    	th:utext="${user.username}"
		    	th:selected="${user.userid==contract?.user?.userid}"/>
		    	</select></td>
		   	</tr>
		   		<tr>
    	<td><input type="hidden"  th:field="*{agreement_title}"/></td>
    	<td th:if="${#fields.hasErrors('agreement_title')}" th:errors="*{agreement_title}">Title Error</td>
    </tr>
    <tr>
    	<td><input type="hidden"  th:field="*{agreement_type}" /></td>
    	<td th:if="${#fields.hasErrors('agreement_type')}" th:errors="*{agreement_type}">Type Error</td>
    </tr>
    <tr>
    	<td><input type="hidden"  th:field="*{description}" /></td>
    	<td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</td>
    </tr>
    <tr>
        <td><input type="hidden"  th:field="*{agreement_location}" /></td>
        <td th:if="${#fields.hasErrors('agreement_location')}" th:errors="*{agreement_location}">Location Error</td>
    </tr>
    <tr>
        <td><input type="hidden"  th:field="*{language}" /></td>
        <td th:if="${#fields.hasErrors('language')}" th:errors="*{language}">Language Error</td>
    </tr>
    <tr>
        <td><input type="hidden"  th:field="*{region}" /></td>
        <td th:if="${#fields.hasErrors('region')}" th:errors="*{region}">Region Error</td>
    </tr>
    <tr>
        <td><input type="hidden"  th:field="*{related_agreements}" /></td>
        <td th:if="${#fields.hasErrors('related_agreements')}" th:errors="*{related_agreements}">Related Agreements Error</td>
    </tr>
		   	<tr>
       			 <td><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></td>
   			</tr>
   		</table>
		
	</div>
	
	    <table class="display-none">
    <td th:text="${currentCss.idcurrent_css}"></td>
    <td th:text="${currentCss.colour}" id="css"></td>
    </table>
         
<script>

function setColours(){
  var i, link_tag ;
  var currcss = document.getElementById("css");
  console.log(currcss);
  for (i = 0, link_tag = document.getElementsByTagName("link") ; i < link_tag.length ; i++ ) {
    if ((link_tag[i].rel.indexOf( "stylesheet" ) != -1) && link_tag[i].title) {
      link_tag[i].disabled = true ;
      if (currcss.innerHTML.indexOf(link_tag[i].title) != -1) {
        document.getElementById(link_tag[i].title).disabled = false;
      }
    }
  }
}
</script>
</body>
</html>