<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Add Contract</title>
<link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" title="style" id="style"/>
<link href="../static/greenstyle.css" th:href="@{/greenstyle.css}" rel="stylesheet" title="greenstyle" id="greenstyle"/>
<link href="../static/greystyle.css" th:href="@{/greystyle.css}" rel="stylesheet" title="greystyle" id="greystyle"/>
<link href="../static/redstyle.css" th:href="@{/redstyle.css}" rel="stylesheet" title="redstyle" id="redstyle"/>
</head>

<body onload="setColours()">
		<div class="headerContainer">
	<div class="header" id="header">
	<h1>Contract Management</h1>
	</div>
	<div class="logout">
    	<div sec:authorize="isAuthenticated()">Welcome, <span sec:authentication="name"></span></div>
        <form th:action="@{/logout}" method="post"> 
            <input type="submit" value="Logout"/> 
        </form>
    	</div>
    	</div>
	<div class="sidenav">
			<div>
	 		<a href="/">Home</a>
	 		</div>
	 		<div>
	 		<a href="/add_contracts">New Contract</a></li>
	 		<p class="sub">Create a new contract</p>
	 		</div>
	 		<div>
	 		<a href="/search_contracts">Search Contracts</a></li>
	 		<p class="sub">Search for a contract</p>
	 		</div>
	 		<!--  <div>
	 		<a href="/archive_contracts">Archived Contracts</a></li>
	 		<p class="sub">View archived contracts</p>
	 		</div>-->
	 		<div>
	 		<a href="/my_contracts">My Contracts</a></li>
	 		<p class="sub">View your assigned contracts</p>
 			</div>
 			<div>
	 		<a href="/favourite_contracts">Favourited Contracts</a></li>
	 		<p class="sub">View your favourited contracts</p>
	 		</div>
	</div>

	<div class="content">
	<h2>Update Details</h2>
    <form action="#" th:action="@{/api/css}" th:object="${currentCss}" method="post" id="currentCss">    
	    Select background colour: <input type="color" th:field="*{background}" th:value="${background}" id="cbackground"/>
	    <br>
	    Select logo color: <input type="color" th:field="*{logo}" th:value="${logo}" id="clogo"/>
	    <br>
	    Select button color: <input type="color" th:field="*{button}" th:value="${button}" id="cbutton"/>
	    <br>
	    Select link color: <input type="color" th:field="*{links}" value="${links}" id="clinks"/>
	    <br>
	    <input type="submit" value="Submit"/>
    </form>        
        
        
    </div>
	    <table class="display-none">
    <td th:text="${currentCss.idcurrent_css}"></td>
    <td th:text="${currentCss.colour}" id="css"></td>
    </table>
         
<script>

function setColours(){
  var i, link_tag ;
  var currcss = document.getElementById("css");
  console.log(currcss);
  for (i = 0, link_tag = document.getElementsByTagName("link") ; i < link_tag.length ; i++ ) {
    if ((link_tag[i].rel.indexOf( "stylesheet" ) != -1) && link_tag[i].title) {
      link_tag[i].disabled = true ;
      if (currcss.innerHTML.indexOf(link_tag[i].title) != -1) {
        document.getElementById(link_tag[i].title).disabled = false;
      }
    }
  }
}
	 
		function setColours(){
		var x = document.getElementsByTagName("H1");
		var i;
		var col = document.getElementById('clogo');
		for (i = 0; i < x.length; i++) {
		  x[i].style.color = col;
		}
		
		
		  document.body.style.backgroundColor = document.getElementById('cbackground');
		  var style = document.createElement('style');
			  style.innerHTML = `
			  h1 {
			  color: ` + document.getElementById('clogo'); + `
			  }
			  `;
  		document.head.appendChild(style);
		}
	
	</script>

           
<footer>
	<a href="/help">Help Page</a>
</footer>

    
</body>
</html>