<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Add Contract</title>
<link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />

<style>
input[type='checkbox'] {
    -webkit-appearance:none;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: #abd;
}

</style>
</head>

<body>
		<div class="headerContainer">
	<div class="header">
	<h1>Contract Management</h1>
	</div>
	<div class="logout">
    	<div sec:authorize="isAuthenticated()">Welcome, <span sec:authentication="name"></span></div>
        <form th:action="@{/logout}" method="post"> 
            <input type="submit" value="Logout"/> 
        </form>
    	</div>
    	</div>
	<div class="sidenav">
			<div>
	 		<a href="/">Home</a>
	 		</div>
	 		<div>
	 		<a href="/add_contracts">New Contract</a></li>
	 		<p class="sub">Create a new contract</p>
	 		</div>
	 		<div>
	 		<a href="/search_contracts">Search Contracts</a></li>
	 		<p class="sub">Search for a contract</p>
	 		</div>
	 		<div>
	 		<a href="/archive_contracts">Archived Contracts</a></li>
	 		<p class="sub">View archived contracts</p>
	 		</div>
	 		<div>
	 		<a href="/my_contracts">My Contracts</a></li>
	 		<p class="sub">View your assigned contracts</p>
 			</div>
 			<div>
	 		<a href="/favourite_contracts">Favourited Contracts</a></li>
	 		<p class="sub">View your favourited contracts</p>
	 		</div>
	</div>

	<div class="content">
	<h2>Update Details</h2>
    <form action="#" th:action="@{/api/updates}" th:object="${contract}" method="post" id="updateContract">
    <input type="hidden" th:field="*{requestid}"/>
    <table>
    <tr>
        <td>User: <select id="userid" name="userid">
    	<option value="">Select a user</option>
    	<option th:each="user : ${users}"
    	th:value="${user.userid}"
    	th:utext="${user.username}"
    	th:selected="${user.userid==contract?.user?.userid}"/>
    	</select></td>
   	</tr>
   	<tr>
    	<td>Agreement Title: <input type="text"  th:field="*{agreement_title}"/></td>
    	<td th:if="${#fields.hasErrors('agreement_title')}" th:errors="*{agreement_title}">Title Error</td>
    </tr>
    <tr>
    	<td>Agreement Type: <input type="text"  th:field="*{agreement_type}" /></td>
    	<td th:if="${#fields.hasErrors('agreement_type')}" th:errors="*{agreement_type}">Type Error</td>
    </tr>
    <tr>
    	<td>Description: <input type="text"  th:field="*{description}" /></td>
    	<td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</td>
    </tr>
    <tr>
        <td>Agreement Location: <input type="text"  th:field="*{agreement_location}" /></td>
        <td th:if="${#fields.hasErrors('agreement_location')}" th:errors="*{agreement_location}">Location Error</td>
    </tr>
    <tr>
        <td>Language: <input type="text"  th:field="*{language}" /></td>
        <td th:if="${#fields.hasErrors('language')}" th:errors="*{language}">Language Error</td>
    </tr>
    <tr>
        <td>Region: <input type="text"  th:field="*{region}" /></td>
        <td th:if="${#fields.hasErrors('region')}" th:errors="*{region}">Region Error</td>
    </tr>
    <tr>
        <td>Related Agreements: <input type="text"  th:field="*{related_agreements}" /></td>
        <td th:if="${#fields.hasErrors('related_agreements')}" th:errors="*{related_agreements}">Related Agreements Error</td>
    </tr>
      <tr>
   		<td>Please Check To Validate Information: <input type="checkbox" name="option1" value="1" style="/* height: 10px; *//* display: inline; */position: absolute;/* top: 0; *//* left: 0; */bottom: 130px;height: 25px;width: 25px;"></td>
    </tr>
    <tr>
        <td><input type="submit" onclick="return Validate()" value="Submit"/> <input type="reset" value="Reset"/></td>
    </tr>
        </table>
        </form>        
        
        
    </div>
            
<footer>
	<a href="/help">Help Page</a>
</footer>

 <script>
    function Validate(){
    	   if(!validateForm()){
    	       alert("You must confirm that the data is valid");
    	       return false;
    	   }
    	return true
    	}
    	function validateForm()
    	{
    	    var c=document.getElementsByTagName('input');
    	    for (var i = 0; i<c.length; i++){
    	        if (c[i].type=='checkbox')
    	        {
    	            if (c[i].checked){return true}
    	        }
    	    }
    	    return false;
    	}
    </script>
    
</body>
</html>