<!--The HTML page for updating details of a contract-->
<!--@author Alice, Caleb, Laurie, Natalie, Poppy-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Update Details</title>
<link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" title="style" id="style"/>
<link href="../static/greenstyle.css" th:href="@{/greenstyle.css}" rel="stylesheet" title="greenstyle" id="greenstyle"/>
<link href="../static/greystyle.css" th:href="@{/greystyle.css}" rel="stylesheet" title="greystyle" id="greystyle"/>
<link href="../static/redstyle.css" th:href="@{/redstyle.css}" rel="stylesheet" title="redstyle" id="redstyle"/>

<style>
input[type='checkbox'] {
    -webkit-appearance:none;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: #abd;
}

</style>

</head>

<body onload="setColours();">
	<div class="header">
	<img class="logo" width="70" th:src="@{/logoimage/logo.png}">
	<h1>Contract Management</h1>
	<div class="logout">
    	<div sec:authorize="isAuthenticated()">Welcome, <span sec:authentication="name"></span></div>
    	<form th:action="@{/change_password}" method="get"> 
            <button type="submit" value="My Account" class="logoutButton"/>My Account</button>
        </form>
        <form th:action="@{/logout}" method="post"> 
            <button type="submit" value="Logout" class="logoutButtonCancel"/>Logout</button>
        </form>
    	</div>
	<div class="sidenav">
			<div>
	 		<a href="/">Home</a>
	 		</div>
	 		<div th:if="${#authorization.expression('hasAnyAuthority(''ROLE_ADMIN'',''ROLE_LEGAL'')')}">
	 		<a href="/add_contracts">New Contract</a></li>
	 		</div>
	 		<div>
	 		<a href="/search_contracts">Search Contracts</a></li>
	 		</div>
	 		<div>
	 		<a href="/my_contracts">My Contracts</a></li>
 			</div>
 			<div>
	 		<a href="/favourite_contracts">Favourited Contracts</a></li>
	</div>
		<div>
 		<a href="/help">Help</a></li>
 		</div>
 		<div th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}">
 		<a href="/favourite_contracts">Admin</a></li>
 		</div>
	</div>
	</div>

	<div class="content">	
	<h2>Update Details</h2>
	<h4>Page 1 of 2: Update Contract and Party Details</h4>
		<div class="tab">
		  <button class="tablinks" onclick="openTab(event, 'ContractDetails')">Contract Details</button>
		  <button class="tablinks" onclick="openTab(event, 'PartyDetails')">Party Details</button>
		  <button class="tablinks" onclick="openTab(event, 'Attachments')">Attachments</button>
		</div>
    <form action="#" th:action="@{/api/updates}" th:object="${contract}" method="post" id="updateContract" onsubmit="return checkForm(this);">
    <input type="hidden" th:field="*{requestid}"/>
    
    <div id="ContractDetails" class="tabcontent">
    <h3>Contract Details:</h3>
        <label for="userid">User</label>
		<select id="userid" name="userid">
    	<option value="">Select a user</option>
    	<option th:each="user : ${users}"
    	th:value="${user.userid}"
    	th:utext="${user.username}"
    	th:selected="${user.userid==contract?.user?.userid}"/>
    	</select>
    	
    	<div class="update_details">
    	<label for="agreement_title">Agreement Title</label>
    	<input type="text"  th:field="*{agreement_title}"/>
    	<p th:if="${#fields.hasErrors('agreement_title')}" th:errors="*{agreement_title}" class="error">Title Error</p>
</div>
<div class="update_details">
    	<label for="agreement_type">Agreement Type</label>
    	<input type="text"  th:field="*{agreement_type}" />
    	<p th:if="${#fields.hasErrors('agreement_type')}" th:errors="*{agreement_type}" class="error">Type Error</p>
</div>
<div class="update_details">
    	<label for="description">Description</label>
    	<input type="text"  th:field="*{description}" />
    	<p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error">Description Error</p>
</div>
<div class="update_details">
       <label for="language">Language</label>
        <input type="text"  th:field="*{language}" />
        <p th:if="${#fields.hasErrors('language')}" th:errors="*{language}" class="error">Language Error</p>
</div>
<div class="update_details">
        <label for="region">Region</label>
        <input type="text"  th:field="*{region}" />
        <p th:if="${#fields.hasErrors('region')}" th:errors="*{region}" class="error">Region Error</p>
</div>
   		<label for="validate">Please Check To Validate Information: <input type="checkbox" name="validate_update" value="1" style="/* height: 10px; */display: inline;/* top: 0; *//* left: 0; */bottom: 130px;height: 25px;width: 25px;padding-bottom: initial;
    padding-top: inherit;"></label>
    </div>
    
    <div id="PartyDetails" class="tabcontent">
    <h3>Party Details:</h3>
    <div class="update_details">
    <label for="businessname">Business Name</label>
        <input type="text"  th:field="*{businessname}" />
        <p th:if="${#fields.hasErrors('businessname')}" th:errors="*{businessname}" class="error">Business name Error</p>
        </div>
        <div class="update_details">
    <label for="clientname">Client Name</label>
        <input type="text"  th:field="*{clientname}" />
        <p th:if="${#fields.hasErrors('clientname')}" th:errors="*{clientname}" class="error">Client name Error</p>
      </div>
      <div class="update_details">  
   <label for="address">Address</label>
        <input type="text"  th:field="*{address}" />
        <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="error">Address Error</p>
    </div>
    <div class="update_details">    
   <label for="phone">Phone</label>
        <input type="text"  th:field="*{phone}" />
        <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="error">Phone Error</p>
   </div> 
    <div class="update_details">    
  <label for="email">Email</label>
        <input type="text"  th:field="*{email}" />
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error">Email Error</p>
 </div>    
     <div class="update_details">   
  <label for="fax">Fax</label>
        <input type="text"  th:field="*{fax}" />
        <p th:if="${#fields.hasErrors('fax')}" th:errors="*{fax}" class="error">Fax Error</p> 
    </div>
  </div>  
    <div class="update_details">
    <div id="Attachments" class="tabcontent">
    <h3>Attachments</h3>
        <label for="agreement_location" id="agreement_location">URL or Description of Agreement File Location</label>
     <input type="text"  th:field="*{agreement_location}" placeholder="https://www....."/>
  </div> 
    </div>
   
   <div class="vdbutton">
   <table>
    <tr>
        <td><input type="submit" value="Submit"/><input type="button" value="Cancel" onclick="self.close()" id="cancel_button">
    </tr>
        </table>
        </form>        
    </div>

       <table class="display-none">
    <td th:text="${currentCss.idcurrent_css}"></td>
    <td th:text="${currentCss.colour}" id="css"></td>
    </table>
         
<script>
function openTab(evt, tabName) {
	  var i, tabcontent, tablinks;
	  tabcontent = document.getElementsByClassName("tabcontent");
	  for (i = 0; i < tabcontent.length; i++) {
	    tabcontent[i].style.display = "none";
	  }
	  tablinks = document.getElementsByClassName("tablinks");
	  for (i = 0; i < tablinks.length; i++) {
	    tablinks[i].className = tablinks[i].className.replace(" active", "");
	  }
	  document.getElementById(tabName).style.display = "block";
	  evt.currentTarget.className += " active";
	}
function setColours(){
  var i, link_tag ;
  var currcss = document.getElementById("css");
  console.log(currcss);
  for (i = 0, link_tag = document.getElementsByTagName("link") ; i < link_tag.length ; i++ ) {
    if ((link_tag[i].rel.indexOf( "stylesheet" ) != -1) && link_tag[i].title) {
      link_tag[i].disabled = true ;
      if (currcss.innerHTML.indexOf(link_tag[i].title) != -1) {
        document.getElementById(link_tag[i].title).disabled = false;
      }
    }
  }
}

function checkForm(form)
{
  if(!form.validate_update.checked) {
    alert("Please click checkbox in Contract Details to submit changes");
    form.validate_update.focus();
    return false;
  }
  return true;
}
</script>
</div>
<footer>
	<p class="footerText">Contract Management System</p>
<p class="footerText">See <a href="/help">help</a> page for further contact info</p>
</footer> 
 <script>
    function Validate(){
    	   if(!validateForm()){
    	       alert("You must confirm that the data is valid");
    	       return false;
    	   }
    	return true
    	}
    	function validateForm()
    	{
    	    var c=document.getElementsByTagName('input');
    	    for (var i = 0; i<c.length; i++){
    	        if (c[i].type=='checkbox')
    	        {
    	            if (c[i].checked){return true}
    	        }
    	    }
    	    return false;
    	}
    </script>
</body>
</html>